body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #fff;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}

.register-title {
  background-color: #FFD100;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.register-box {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.input-group label {
  font-size: 20px;
  margin-right: 10px;
}

.input-group input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
}

.role-select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.register-btn {
  background-color: #FFD100;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

.register-btn:hover {
  background-color: #000;
  color: #fff;
}

.bottom-text {
  margin-top: 10px;
  font-size: 13px;
}
.bottom-text a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
