body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: white;
}

.content {
  padding: 30px;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tab {
  background: none;
  border: 2px solid #ffcc00;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}

.tab.active {
  background: #ffcc00;
}

.paper-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.paper-card {
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  justify-content: space-between;
}

.paper-card img {
  width: 150px;
  border-radius: 10px;
}

.info {
  flex: 1;
  margin-left: 20px;
}

.view-btn {
  background-color: cyan;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.tab.active {
  background-color: #ffcc00;
}
